<h2 mat-dialog-title>Change password
    <small class="block-display mat-caption">{{authService.getUser().name || authService.getUser().email}}</small>
</h2>

<!--<mat-dialog-content class="modal-form">-->
    <form [formGroup]="changePasswordForm" #changePassForm (ngSubmit)="onSubmit()">
        <mat-form-field *ngIf="!this.authService.isAdmin()">
            <input matInput
                [type]="hideOld ? 'password' : 'text'"
                placeholder="Old Password"
                formControlName="oldPassword">

            <mat-icon matSuffix class="clickable-icon"
                      style="cursor: pointer;" (click)="hideOld = !hideOld">
                {{hideOld ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </mat-form-field>

        <mat-form-field class="password-input">
            <input matInput
                   [type]="hide ? 'password' : 'text'"
                   placeholder="New Password"
                   formControlName="newPassword">

            <mat-icon matSuffix class="clickable-icon" style="cursor: pointer;" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="password-input">
            <input matInput
                   [type]="hide ? 'password' : 'text'"
                   placeholder="Confirm New Password"
                   formControlName="newPasswordConfirmation">

            <mat-icon matSuffix class="clickable-icon" style="cursor: pointer;" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-dialog-actions class="stdDialogActions">
            <button type="button" class="mat-raised-button" (click)="close()">Close</button>
            <button type="submit" class="mat-raised-button mat-primary" [disabled]="changePasswordForm && !changePasswordForm.valid">Change Password</button>
        </mat-dialog-actions>
    </form>
<!--</mat-dialog-content>-->