<div class="spinner-container-centered" *ngIf="mainSpinner">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="client && !mainSpinner">
    <h1>Stats for {{client.name}}</h1>
<!--    [plugins]="industriesChartPlugins"-->
<!--    [options]="industriesChartOptions"-->
<!--    [datasets]="industriesChartData"-->
    <div class="base-charts">
        <div class="industries-chart">
            <canvas *ngIf="showIndustriesChart" baseChart
                    [data]="industriesChartData"
                    [labels]="industriesChartLabels"
                    [chartType]="industriesChartType">
            </canvas>
        </div>

        <div class="status-chart">
            <canvas baseChart
                [data]="statusChartData"
                [labels]="statusChartLabels"
                [chartType]="statusChartType">
            </canvas>
        </div>
    </div>

    <div class="base-text">
        <div class="chart-textual">
            <p>
                Prospects have listed {{industriesCount}} different industries as their primary field of work, namely:
            </p>
<!--            <ul>-->
                <mat-accordion class="accordion-headers-align" multi>
                    <mat-expansion-panel *ngFor="let ik of industryKeys">
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ industries[ik].name }}</mat-panel-title>
                            <mat-panel-description>{{industries[ik].total}} prospects total</mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="industry-status">
                            <p>Contacted: {{industries[ik].count['CONTACTED']}}</p>
                            <p>Accepted: {{industries[ik].count['ACCEPTED']}}</p>
                            <p>Rejected: {{industries[ik].count['REJECTED']}}</p>
                            <p>Leads: {{industries[ik].count['LEAD']}}</p>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

            <div class="leads-component">
                <app-leads [leadsInput]="true" [leadsFeed]="client.leads"
                           [clientsView]="true"></app-leads>
            </div>
<!--                <li *ngFor="let ik of industryKeys">-->
<!--                    <p>{{ industries[ik].name }} yields {{industries[ik].total}}</p>-->
<!--                    <div class="industry-status">-->
<!--                        <p>Yet to be contacted: {{industries[ik].count['NOTCONTACTED']}}</p>-->
<!--                        <p>In progress: {{industries[ik].count['NEUTRAL']}}</p>-->
<!--                        <p>Not interested: {{industries[ik].count['NEGATIVE']}}</p>-->
<!--                        <p>Leads: {{industries[ik].count['POSITIVE']}}</p>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </div>


<!--    [legend]="industriesChartLegend"-->
<!--    <p *ngIf="client.leads">Number of leads: {{client.leads.length}}</p>-->
<!--    <div *ngIf="parsed && industries">-->
<!--        parsed && industries-->

<!--        <div *ngFor="let ind of industries | keyvalue">-->
<!--            <p>{{ind.value.total}} {{ind.value.name}} {{ind.count}}</p>-->
<!--            <div *ngFor="let c of ind.value.count | keyvalue">-->
<!--                <p>{{c.key}} - {{c.value}}</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>