
<h2 mat-dialog-title *ngIf="client">{{client.name}}</h2>

<mat-dialog-content>

  <form *ngIf="clientForm" [formGroup]="clientForm" #cForm (ngSubmit)="save()">
    <mat-form-field class="stdDialogInput">
      <input matInput
             placeholder="Client's Name"
             formControlName="name">
    </mat-form-field>

    <mat-form-field class="stdDialogInput">
    <textarea matInput
              placeholder="Description"
              formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="stdDialogInput">
      <ngx-mat-file-input formControlName="csv_file" placeholder="Prospects CSV" [accept]="'.csv'"></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>

    <mat-form-field class="stdDialogInput">
      <mat-label>Select personnel</mat-label>
      <select matNativeControl formControlName="selectUser">
        <option value='' selected></option>
        <option *ngFor="let u of users" [value]="u.id">
          {{u.name}}  --  {{u.email}}
        </option>
      </select>
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions *ngIf="clientForm" class="stdDialogActions">
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" [disabled]="!clientForm.valid" (click)="save()">Save</button>
</mat-dialog-actions>
